<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my One Month Python Project!</h1>
				<p>My name is Leah Hoogstra and I'm a Data Specialist at Basis Policy Research and an amateur python enthusiast. I built this project for <a href="http://onemonth.com/courses">One Month Python</a>.</p>
				<a href="{{ url_for('index') }}">Back to home page</a>
			</div>
		</div>
	</body>
</html>